body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Paragraph1{
  background-color: white;
}
.Paragraph2{
  background-color: green;
}
.Paragraph3{
  background-color: yellow;
}

.borderedDiv{
  border: 2px rgba(146, 161, 83, 0.904) solid;
}